<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color:rgb(255, 57, 57);">
        Back
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="secondary">

    </ion-buttons>
    <!-- <ion-title> {{menuItem.name}} - {{menuItem.englishName}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="width:100%;">
  <ion-row>
    <ion-col>
      <ion-title style="font-weight: bold;">Orders</ion-title>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let menuItem of orderService.getAllItems(); index as i" >
    <ion-col size="12"><app-simple-order-item [menuItem]="menuItem" [quantity]="orderService.getItemQuantity(i)" (click)="this.viewItem(menuItem,orderService.getItemQuantity(i))"></app-simple-order-item></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center;padding-top:32px">
      <ion-title>Sub-Total: ${{this.roundValue(transactionService.getSubtotal())}}</ion-title>
    </ion-col>
    <ion-col size="12" style="text-align: center;">
      <ion-title>Taxable: ${{transactionService.taxableValue(transactionService.getSubtotal())}}</ion-title>
    </ion-col>
    <!-- <ion-col size="12" style="text-align: center;">
      <ion-title>Delivery Fee: ${{transactionService.getDeliveryFee()}}</ion-title>
    </ion-col> -->
    <ion-col size="12" style="text-align: center;">
      <ion-title>Total: ${{transactionService.applyTaxRate(transactionService.getSubtotal())}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center;">
      <ion-button (click)="confirmOrder()">
        Confirm Order
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center;">
      <ion-button (click)="cancelOrder()">
        Cancel Order
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>