<ion-card style="background-color: white;" href="#" onclick="return false;">
  <ion-card-content>
    <ion-row>
      <ion-col style="border-style: solid; border-width: 0px 1px 0px 0px">{{order.user.firstName}} {{order.user.lastName}}</ion-col>
      <ion-col style="border-style: solid; border-width: 0px 1px 0px 0px">{{order.orderDate | date: 'h:mm'}}</ion-col>
      <ion-col>
        <ng-container *ngFor="let o of order.orderItems">
          {{o.orderQuantity}}&nbsp;{{o.recipe.recipeName}},
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-card-content> 
  <ion-ripple-effect></ion-ripple-effect> 
</ion-card>

<!-- TO DO: Format Dates -->
<!--<IonDatetime displayFormat="HH:mm", value=></IonDatetime>-->